.product-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.favourite-container {
    background-color: rgb(212, 212, 212);
    margin-top: 32px;
    margin-bottom: 1660px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px silver;
}